@page
@model webCRUD2._2.Pages.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.empleado.empnom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.empleado.empnom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.empleado.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.empleado.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.empleado.salario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.empleado.salario)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.empleado.empid">Editar</a> |
    <a asp-page="./Index">Volver a la lista</a>
</div>
